* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    outline: black solid 2px;
}

.cell {
    outline: black solid 1px;
    width: 25px;
    height: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 40px;
    border-radius: 14px;
    margin-bottom: 40px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.btn:hover {
    cursor: pointer;
}

.sketch {
    background-color: black;
}